<div class="border rounded-1 div-add-people">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    Add People
  </button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add People</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-people-add></app-people-add>
    </div>
  </div>
</div>
<div class="list-group mt-1 div-people-list-height scrollarea">
  <a *ngFor="let person of listPerson; let i = index"
    class="list-group-item list-group-item-action flex-column align-items-start" 
    (click)="selectedPersonEvent(i)">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ person.firstName + " " + person.lastName }}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">{{ person.designation }}</p>
    <small>{{ person.organizationName }}</small>
  </a>
</div>