<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label for="validationFirstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationFirstName" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationLastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationLastName" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationEmpNo" class="form-label">Emp No.</label>
        <input type="text" class="form-control" id="validationEmpNo" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationMobile" class="form-label">Mobile</label>
        <input type="text" class="form-control" id="validationMobile" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-12">
        <label for="validationLocation" class="form-label">Location</label>
        <select class="form-select" id="validationLocation" required>
            <option selected disabled value="">Choose...</option>
            <option>Chennai</option>
            <option>Pudhucherry</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Location.
        </div>
    </div>
    <div class="col-md-12">
        <label for="validationDepartment" class="form-label">Department</label>
        <select class="form-select" id="validationDepartment" required>
            <option selected disabled value="">Choose...</option>
            <option>Development</option>
            <option>QA</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Department.
        </div>
    </div>
    <div class="col-md-12">
        <label for="validationDesignation" class="form-label">Designation</label>
        <select class="form-select" id="validationDesignation" required>
            <option selected disabled value="">Choose...</option>
            <option>Senior System Engineer</option>
            <option>Chief Purpose and Vision Officer</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Designation.
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationJoiningDate" class="form-label">Joining Date</label>
        <input type="text" class="form-control" id="validationJoiningDate" required>
        <div class="invalid-feedback">
            Please provide a valid Joining Date.
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationDateOfBirth" class="form-label">Date of Birth</label>
        <input type="text" class="form-control" id="validationDateOfBirth" required>
        <div class="invalid-feedback">
            Please provide a valid Date of Birth.
        </div>
    </div>
    <div class="col-md-12">
        <label for="validationNationality" class="form-label">Nationality</label>
        <select class="form-select" id="validationNationality" required>
            <option selected disabled value="">Choose...</option>
            <option>Indian</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Nationality.
        </div>
    </div>
    <div class="col-md-12">
        <label for="validationReportingTo" class="form-label">ReportingTo</label>
        <select class="form-select" id="validationReportingTo" required>
            <option selected disabled value="">Choose...</option>
            <option>Senior System Engineer</option>
            <option>Chief Purpose and Vision Officer</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid ReportingTo.
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationStatus" class="form-label">Status</label>
        <select class="form-select" id="validationStatus" required>
            <option selected disabled value="">Choose...</option>
            <option>Probation</option>
            <option>Confirmed</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Status.
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationMaritalStatus" class="form-label">Marital Status</label>
        <select class="form-select" id="validationMaritalStatus" required>
            <option selected disabled value="">Choose...</option>
            <option>Single</option>
            <option>Married</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Marital Status.
        </div>
    </div>
    <div class="col-md-12">
        <label for="validationOrganizationName" class="form-label">OrganizationName</label>
        <select class="form-select" id="validationOrganizationName" required>
            <option selected disabled value="">Choose...</option>
            <option>Rencata</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid Organization Name.
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Add People</button>
    </div>
</form>