<div class="row mt-1">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/sample/sample-6.jpg" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/sample/sample-4.jpg" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/sample/sample-5.jpg" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
</div>
